{namespace tk=Tx_Timekeeping_ViewHelpers}

<f:layout name="main" />

	<!-- TITLE -->
<f:section name="title">
	<f:translate key="Member_Show_Title" arguments="<f:if condition='{user.name}'><f:then>{0: user.name}</f:then><f:else>{0: user.username}</f:else></f:if>" />
</f:section>

	<!-- MENU -->
<f:section name="menu">
	<ul>
		<li><f:link.action action="new" controller="Timeunit" arguments="{family : family}"><f:translate key="Family_Show_Action_NewTimeunit" /></f:link.action></li>
	</ul>
</f:section>

<f:section name="content">
	<f:render partial="timeunitUserList" arguments="{timeunits : timeunits, family : family, assignment : assignment, user : user}" />
</f:section>