<f:layout name="main" />

<f:section name="title">
	<f:translate key="Family_Index_Title">Families</f:translate>
</f:section>

<f:section name="content">
	<f:render partial="familyList" arguments="{families : families}" />
</f:section>

<f:section name="menu">
	<ul>
		<li><f:link.action action="new"><f:translate key="Family_Index_Action_New" /></f:link.action></li>
		<li><f:link.action action="deleteallpre" controller="Timeunit"><f:translate key="Family_Index_Action_DeleteTimeunits" /></f:link.action></li>
	</ul>
</f:section>