{namespace tk=Tx_Timekeeping_ViewHelpers}
<f:if condition="{families}">
	<table class="tx-timekeeping-timeunits datatables">
		<thead>
			<tr>
				<th><f:translate key="Family_Index_Name" /></th>
				<th><f:translate key="Family_Index_Members" /></th>
				<th><f:translate key="Family_Index_StartDate" /></th>
				<th><f:translate key="Family_Index_EndDate" /></th>
				<th style="text-align: right;"><f:translate key="Family_Index_WorkedTime" /></th>
				<th style="text-align: right;"><f:translate key="Family_Index_WorkedCleaningTime" /></th>
			</tr>
		</thead>
		<tbody>
		<f:for each="{families}" as="family">
			<tr>
				<td><f:link.action action="show" arguments="{ family : family }">{family.name}</f:link.action></td>
				<td style="text-align: center;"><f:count subject="{family.assignments}" /></td>
				<td>{family.start}</td>
				<td>{family.end}</td>
				<td style="text-align: right;"><f:format.number decimals="2" decimalSeparator=".">{family.workedTime}</f:format.number> <f:translate key="Timeunit_Index_Unit_Hours" /></td>
				<td style="text-align: right;"><f:format.number decimals="2" decimalSeparator=".">{family.workedCleaningTime}</f:format.number> <f:translate key="Timeunit_Index_Unit_Hours" /></td>
			</tr>
		</f:for>
		</tbody>
	</table>
</f:if>
