{namespace tk=Tx_Timekeeping_ViewHelpers}
<table>
	<tr>
		<th><f:translate key="Timeunit_Index_List_Member" /></th>
		<th><f:translate key="Timeunit_Index_List_DateOfWork" />{action}</th>
		<th><f:translate key="Timeunit_Index_List_Description" /></th>
		<th><f:translate key="Timeunit_Index_List_Duration" /></th>
		<th><f:translate key="Timeunit_Index_List_Cleaning" /></th>
	</tr>
	<f:for each="{timeunits}" as="timeunit">
		<tr>
			<td>{timeunit.assignment.user.name} ({timeunit.assignment.role.name})</td>
			<td><f:format.date format="d.m.Y">{timeunit.dateOfWork}</f:format.date></td>
			<td><f:link.action action="edit" controller="Timeunit" arguments="{timeunit : timeunit, family : family}">{timeunit.description}</f:link.action></td>
			<td><tk:timeFormat amount="{timeunit.duration}" /></td>
			<td><tk:cleaningWork amount="{timeunit.cleaning}" /></td>
		</tr>
	</f:for>
	<tr class="summary">
		<td colspan="3">Gesamt</td>
		<td><tk:timeFormat amount="{family.workedTime}" /></td>
		<td><tk:timeFormat amount="{family.workedCleaningTime}" /></td>
	</tr>
</table>
