{namespace tk=Tx_Timekeeping_ViewHelpers}
<table class="tx-timekeeping-timeunits">
	<thead>
		<tr>
			<th><f:translate key="Timeunit_Index_List_DateOfWork" />{action}</th>
			<th><f:translate key="Timeunit_Index_List_Description" /></th>
			<th style="text-align: right;"><f:translate key="Timeunit_Index_List_Duration" /></th>
			<th style="text-align: right;"><f:translate key="Timeunit_Index_List_Cleaning" /></th>
			<th style="text-align: center;"><f:translate key="Timeunit_Index_List_Delete" /></th>
		</tr>
	</thead>
	<tbody>
	<f:for each="{timeunits}" as="timeunit">
		<tr>
			<td><f:format.date format="d.m.Y">{timeunit.dateOfWork}</f:format.date></td>
			<td><f:link.action action="edit" controller="Timeunit" arguments="{timeunit : timeunit, family : family}">{timeunit.description}</f:link.action></td>
			<td style="text-align: right;"><tk:timeFormat amount="{timeunit.duration}" /></td>
			<td style="text-align: center; vertical-align: middle;"><f:if condition="{timeunit.cleaning} == 1"><tk:icon icon="status-status-checked" title="delete" /></f:if></td>
			<td style="text-align: center;"><f:link.action action="delete" controller="Timeunit" arguments="{timeunit : timeunit, family : family}"><tk:icon icon="actions-edit-delete" title="delete" /></f:link.action></td>
		</tr>
	</f:for>
	</tbody>
	<tfoot>
		<tr class="summary">
			<td colspan="2"></td>
			<td style="text-align: right;"><tk:timeFormat amount="{assignment.workedTime}" /></td>
			<td style="text-align: right;"><tk:timeFormat amount="{assignment.workedCleaningTime}" /></td>
			<td></td>
		</tr>
	</tfoot>
</table>
<p>Arbeitszeiten Familie {family.name}: <tk:timeFormat amount="{family.workedTime}" /> (davon <tk:timeFormat amount="{family.workedCleaningTime}" /> Putzen).</p>
