{namespace tk=Tx_Timekeeping_ViewHelpers}

<f:form action="{action}" object="{timeunit}" name="timeunit">

	<f:form.errors for="timeunit">
		<div style="background-color: #fdd; padding: 12px;">
			<f:if condition="{error.errors}"><f:then>
				<f:for each="{error.errors}" as="fieldError">
					<div><f:translate key="Timeunit_Error_{error.propertyName}_{fieldError.code}" default="{error.propertyName}_{fieldError.code}" /></div>
				</f:for>
			</f:then><f:else>
				<div><f:translate key="Timeunit_Error_{error.code}" default="{error.code}" /></div>
			</f:else></f:if>
		</div>
	</f:form.errors>

	<table>
		<tr>
			<th><f:translate key="Timeunit_Form_Family" /></th>
			<td>{family.name}</td>
		</tr>
		<tr>
			<th><label for="dateofwork"><f:translate key="Timeunit_Form_DateOfWork" /></label></th>
			<td><f:form.textfield property="dateOfWork" class="timekeeping-formfield datepicker" id="dateofwork" placeholder="z.B. 20.07.2011" /></td>
		</tr>
		<tr>
			<th><label for="duration"><f:translate key="Timeunit_Form_Duration" /></label></th>
			<td><f:form.textfield class="timekeeping-formfield" property="duration" id="duration" placeholder="z.B. 1,5" /></td>
		</tr>
		<tr>
			<th><label for="description"><f:translate key="Timeunit_Form_Description" /></label></th>
			<td><f:form.textarea class="timekeeping-formfield long" property="description" id="description" rows="5" cols="80" /></td>
		</tr>
		<tr>
			<th><label for="cleaning"><f:translate key="Timeunit_Form_Cleaning" /></label></th>
			<td><f:form.checkbox property="cleaning" id="cleaning" value="1" /></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><f:form.submit value="{f:translate(key:'Timeunit_Form_Save')}" /></td>
		</tr>
	</table>
	<f:form.hidden name="family" value="{family}" />
</f:form>