{namespace tk=Tx_Timekeeping_ViewHelpers}

<f:layout name="main" />

	<!-- TITLE -->
<f:section name="title">
	<f:translate key="Timeunit_Index_Title" arguments="{0: family.name}" />
</f:section>

<f:section name="content">
	<f:render partial="timeunitList" arguments="{timeunits : timeunits, family: family, assignment : assignment}" />
</f:section>

<!-- MENU -->
<f:section name="menu">
<ul>
	<li><f:link.action controller="Family" action="show" arguments="{family : family}"><f:translate key="Timeunit_Index_Action_Back" /></f:link.action></li>
</ul>
</f:section>