<f:layout name="main" />

<f:section name="title">
	<f:translate key="Timeunit_New_Title" arguments="{0: family.name}" />
</f:section>

<f:section name="menu" />

<f:section name="content">
	<f:form object="{timeunit}" action="create" name="timeunit">

		<f:form.errors for="timeunit">
			<div style="background-color: #fdd; padding: 12px;">
				<f:if condition="{error.errors}"><f:then>
					<f:for each="{error.errors}" as="fieldError">
						<div><f:translate key="Timeunit_Error_{error.propertyName}_{fieldError.code}" default="{error.propertyName}_{fieldError.code}" /></div>
					</f:for>
				</f:then><f:else>
					<div><f:translate key="Timeunit_Error_{error.code}" default="{error.code}" /></div>
				</f:else></f:if>
			</div>
		</f:form.errors>

		<table>
			<tr>
				<td><f:translate key="Timeunit_New_User" /></td>
				<td>{user.name}</td>
			</tr>
			<tr>
				<td><f:translate key="Timeunit_New_Family" /></td>
				<td>{family.name}</td>
			</tr>
			<tr>
				<td><f:translate key="Timeunit_New_DateOfWork" /></td>
				<td><f:form.textbox property="dateOfWork" id="dateofwork" /></td>
			</tr>
			<tr>
				<td><f:translate key="Timeunit_New_Duration" /></td>
				<td><f:form.textbox property="duration" id="duration" /></td>
			</tr>
			<tr>
				<td><f:translate key="Timeunit_New_Description" /></td>
				<td><f:form.textarea property="description" rows="5" cols="80" /></td>
			</tr>
			<tr>
				<td><f:translate key="Timeunit_New_Cleaning" /></td>
				<td><f:form.checkbox property="cleaning" value="1" /></td>
			</tr>
		</table>

		<f:form.submit value="{f:translate(key:'Timeunit_New_Save')}" />
		<f:form.hidden name="family" value="{family}" />
	</f:form>
</f:section>